.container {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  width: 190px;
  height: 210px;
}
.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.span {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button {
  border-radius: 8px;
  border-color: grey;
  background-color: inherit;
  padding: 3px 10px;
}
